* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Cutive Mono', monospace;
    font-size: 16px;
    margin: 0 auto;
    background-color: #F4F7ED;
}

h3 {
    margin-top: 0px;
    text-align: center;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: red;
}

label {
  display: block;
  font-size: 20px;
}

label + label {
    margin-top: 20px;
}

/*a {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

a:hover {

}
*/
a {
    display: inline-block;
    border-radius: 12px;
    background-color: #86EE60;
    border: none;
    color: #2B3752;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    background: #86EE60;
    -webkit-transition-property: background;
       -moz-transition-property: background;
         -o-transition-property: background;
            transition-property: background;
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transition-timing-function: linear;
       -moz-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
}
a:hover {
  background: #F4F7ED;
}

.nav {
    display: inline-block;
    border-radius: 7px;
    background-color: #86EE60;
    border: none;
    color: #2B3752;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 4px;
    background: #86EE60;
    -webkit-transition-property: background;
       -moz-transition-property: background;
         -o-transition-property: background;
            transition-property: background;
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transition-timing-function: linear;
       -moz-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
}

.nav-top {
    display: inline-block;
    border-radius: 12px;
    background-color: #86EE60;
    border: none;
    color: #2B3752;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    background: #86EE60;
    -webkit-transition-property: background;
       -moz-transition-property: background;
         -o-transition-property: background;
            transition-property: background;
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transition-timing-function: linear;
       -moz-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
}
/*input[type=text] {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
    background-color: #F4F7ED;
}*/

input[type=submit] {
    padding:5px 15px;
    background:#2E6E65;
    font-size: 24px;
    color: white;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 7px;
}

textarea {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
  background-color: #F4F7ED;
}

.band {
    background-color: #2E6E65;
    height: 400px;
    border-radius: 7px;
    border: none;
}

.main-title {
    display: block;
    color: #2B3752;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 5px;
    text-decoration: none;
}

.post + .post {
    margin-top: 15px;
}

.post-heading {
    position: relative;
    border-bottom: 7px solid #2E6E65;
    font-family: 'Cutive Mono', monospace;
    border-radius: 7px;
    /*cursor: wait; <-- funny*/
}

.bot-cat {
    font-size: 120px;
}

.post-title {
    font-size: 30px;
    font-weight: bold;
    color: #2B3752;
}

.post-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #2E6E65;
    font-family: 'Cutive Mono', monospace;

}

.post-content {
    margin-top: 5px;
    border-color: #2E6E65;
    border: 10px;
}


.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}
