<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <script type="text/javascript" src="js/jquery-3.1.1.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <title>=^.^= Blog</title>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="/blog" class="main-title logo">
                        =^.^= Blog
                    </a>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- <a href="/"></a> -->
                    <!-- <marquee direction="down" width="100%" height="100%" behavior="alternate">
                        <marquee behavior="alternate" class="top-cat">
                            =^.^=
                        </marquee>
                    </marquee> -->

                </div>
            </div>


            <div class="container top">
                {% if not user %}
                    <div class="row band-top">
                        <p class="logged-in">please sign in, or sign up. meow.</p>
                        <div class="col-md-3">
                            <a href="/login" class="nav-top">
                                Login
                            </a>
                        </div>

                        <div class="col-md-3">
                            <a href="/signup" class="nav-top">
                                Sign up
                            </a>
                        </div>
                    </div>
                {% else %}
                    <div class="row band-top">
                        <p class="logged-in">User: {{user.name}}</p>

                        <div class="row">
                            <div class="col-md-3">
                                <a href="/logout" class="nav-top">
                                    Logout
                                </a>
                            </div>

                            <div class="col-md-3">
                                <a href="/blog/newpost" class="nav-top">
                                    Newpost
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}

            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div id="content">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
            <div class="row band">
                <div class="col-md-12 band">
                    <marquee direction="down" width="100%" height="100%" behavior="alternate" scrollamount="17">
                        <marquee behavior="alternate" class="bot-cat">
                           =^.^=
                        </marquee>
                    </marquee>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center">
                    <a href="https://linkedin.com/in/simonkeng" class="bot-nav">Simon</a>

                </div>

                <div class="col-md-4 text-center">
                    <a href="https://www.udacity.com/course/full-stack-web-developer-nanodegree--nd004" class="bot-nav">Udacity</a>
                </div>
                <div class="col-md-4 text-center">
                    <a href="https://github.com/simonkeng" class="bot-nav">GitHub</a>
                </div>


            </div>
        </div>


    </body>
</html>