<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">
        <title>MUB Home</title>
    </head>

    <body>
        <a href="/blog" class="main-title">
            I luv MUBs
        </a>
        <h3>if you luv multi user blogs say wut wut</h3>
        <div id="content">
        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>