
<!DOCTYPE html>
<html>
    <head>
        <title>=^.^=</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <script type="text/javascript" src="js/jquery-3.1.1.js"></script>
        <script type="text/javascript" src="js/entercat.js"></script>
    </head>
    <body class="enter">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <br>
                    <a href="blog/" class="enter-cat">=^.^=</a>
                </div>

            </div>
        </div>
    </body>
</html>