{% extends "base.html" %}

{% block content %}

    {% for p in posts %}

        {{p.like_count}}

        {{ p.render() | safe }}

        {{p.author}}
        <br>
            <a href="/blog/{{p.key().id()}}/editpost" class="nav">Edit</a>

            <a href="/blog/{{p.key().id()}}/deletepost" class="nav">Delete</a>


            <a href="/blog/newcomment" class="nav">Comment</a>

            <a href="/blog/{{p.key().id()}}/like" class="nav">Like</a>



        <br>
        <br>


    {% endfor %}


{% endblock %}

