{% extends "base.html" %}

{% block content %}

    {% for p in posts %}

        {{ p.render() | safe }}

        <p>Author: {{p.name}}</p>
        <p>Likes: {{p.likes}}</p>

        <br>
            <a href="/blog/{{p.key().id()}}/editpost" class="nav">Edit</a>

            <a href="/blog/{{p.key().id()}}/deletepost" class="nav">Delete</a>


            <a href="/blog/newcomment" class="nav">Comment</a>

            <!-- <a href="/blog/{{p.key().id()}}/like" class="nav">Like</a>
 -->
            <form action="/blog/{{p.key().id()}}/like" method="post">
                <input type="hidden" value="{{user.name}}" name="name">
                <input type="submit" value="Like">

            </form>

        <br>
        <br>


    {% endfor %}


{% endblock %}

