{% extends "base.html" %}

{% block content %}

    {% for p in posts %}
        {{p.author}}
        {{p.likes}}
        {{ p.render() | safe }}

            <a href="/blog/{{p.key().id()}}/editpost">Edit</a>
            <br>
            <a href="/blog/{{p.key().id()}}/deletepost">Delete</a>
            <br>
            <a href="/blog/newcomment">Comment</a>
            <br>
            <a href="/blog/{{p.key().id()}}/like">Like</a>


        <br>
        <br>


    {% endfor %}


{% endblock %}

