<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <script type="text/javascript" src="js/jquery-3.1.1.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <title>Welcome to I luv MUBs</title>
    </head>
    <body>
        <div class="container">
            <div class="row">

                <h2>Welcome, {{username}}.</h2>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <a href="/blog">Home</a>
            </div>
        </div>
    </body>
</html>